@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Gestion_de_parfum.Models.Utilisateur
@{
    ViewData["Title"] = "Détails utilisateur";
    ViewBag.HideNav = true;
}

<div class="topbar">
    <h1 class="page-title">Détails utilisateur</h1>
    <div>
        <a class="btn btn-gold" href="@Url.Action("Edit","Utilisateurs1", new { id = Model?.Id })">Modifier</a>
        <a class="btn btn-ghost" href="@Url.Action("Index","Utilisateurs1")">Retour</a>
    </div>
</div>

<div class="card">
    <dl class="row" style="margin:0;">
        <dt class="col-sm-3">Nom</dt>
        <dd class="col-sm-9">@Model.Nom</dd>

        <dt class="col-sm-3">Email</dt>
        <dd class="col-sm-9">@Model.Email</dd>

        <dt class="col-sm-3">Mot de passe</dt>
        <dd class="col-sm-9">••••••</dd>
    </dl>
</div>
